@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  scroll-behavior: smooth;
}

body {
  background: rgb(252, 209, 216);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.title {
  padding: 20px 0;
}
.title h2 {
  text-align: center;
  font-family: "Playfair Display", serif;
  color: rgb(124, 78, 81);
  letter-spacing: 2px;
  font-size: 24px;
  margin-bottom: 20px;
}

#backToTop {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}
#backToTop img {
  width: 50px;
  height: 50px;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: rgb(252, 209, 216);
  border-bottom: 1px solid rgb(124, 78, 81);
}
#header .favDiv i {
  font-size: 30px;
  cursor: pointer;
}
#header #menuBar {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding-top: 110px;
  width: 300px;
  height: 100%;
  background: rgb(124, 78, 81);
  right: -100%;
  top: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: all 0.4s ease-in-out;
  z-index: 997;
}
#header #menuBar button {
  position: absolute;
  top: 20px;
  right: 20px;
  border: 0;
  padding: 10px;
  background-color: rgb(252, 209, 216);
  border-radius: 50%;
  cursor: pointer;
}
#header #menuBar button i {
  font-size: 30px;
  color: rgb(105, 105, 105);
}
#header #menuBar ul {
  padding: 0 20px;
}
#header #menuBar ul li {
  width: 100%;
  padding: 15px 0;
  margin-bottom: 7px;
}
#header #menuBar ul li a {
  display: block;
  text-align: center;
  width: 100%;
  letter-spacing: 2px;
  font-family: "Playfair Display", serif;
  color: #fff;
  font-size: 20px;
  transition: all 0.4s ease-in-out;
}
#header #menuBar ul li a:hover {
  color: rgb(252, 209, 216);
}
#header #menuBar.active {
  right: 0;
}
#header .logoDiv {
  text-align: center;
  position: relative;
}
#header .logoDiv .logoH1 {
  font-size: 25px;
  font-family: "Playfair Display", serif;
  font-weight: 600;
}
#header .logoDiv .logoStudio {
  font-family: "Libre Baskerville", serif;
  font-size: 13px;
  letter-spacing: 15px;
  position: absolute;
  left: 29px;
  top: 27px;
}

#main .welcomeText {
  height: 150px;
  width: 100%;
  background-color: rgb(252, 209, 216);
  display: flex;
  justify-content: center;
  align-items: center;
}
#main .welcomeText .welcomeH1 {
  font-size: 75px;
  word-spacing: 21px;
  letter-spacing: 5px;
  font-family: "Dancing Script", cursive;
  color: rgb(124, 78, 81);
}
#main .welcomePic {
  width: 100%;
  height: 400px;
}
#main .welcomePic .welcomeImg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 75%;
     object-position: 50% 75%;
}

#products {
  width: 100%;
  background-color: rgb(252, 209, 216);
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  padding: 20px;
  gap: 30px;
  margin-bottom: 40px;
}
#products .product-one {
  width: 300px;
  height: 350px;
  background-color: white;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}
#products .product-one:hover .oneInfoDiv {
  bottom: 0px;
  transition: 0.5s;
}
#products .product-one:hover .oneImgDiv {
  transform: scale(1.3);
  transition: 0.5s;
}
#products .product-one .oneImgDiv {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
#products .product-one .oneImgDiv .oneImg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#products .product-one .oneInfoDiv {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.123);
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
  position: absolute;
  bottom: -500px;
  z-index: 1;
  transition: 0.5s;
}

#contact {
  padding-top: 30px;
  background: rgb(252, 209, 216);
}
#contact .title {
  padding-top: 0;
}
#contact .contactBox {
  margin-top: 40px;
  max-width: 1140px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
#contact .contactBox #my-form {
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
}
#contact .contactBox #my-form #form_item {
  width: 100%;
}
#contact .contactBox #my-form input {
  margin: 0 30px 30px 0;
  border-radius: 5px;
  border: none;
  width: 100%;
  padding: 7px 10px;
  padding-left: 20px;
  padding-right: 60px;
  font-size: 18px;
}
#contact .contactBox #my-form textarea {
  margin: 0 30px 30px 0;
  border-radius: 5px;
  border: none;
  width: 100%;
  height: 120px;
  padding: 7px 10px;
  padding-left: 20px;
  padding-right: 60px;
  font-size: 18px;
  resize: vertical;
}
#contact .contactBox #my-form button {
  width: 150px;
  height: 40px;
  border-radius: 8px;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  background: rgb(124, 78, 81);
  border: none;
  box-shadow: 1px 2px 1px #000;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
#contact .contactBox #my-form button:hover {
  box-shadow: 2px 2px 2px grey;
}
#contact .contactBox #my-form #my-form-status {
  color: #fff;
  letter-spacing: 3px;
  font-size: 16px;
  padding: 10px;
}
#contact .contactBox .contactImg {
  width: 50%;
  margin-bottom: 91px;
  background: url(../img/flowersContact.jpg);
  background-size: cover;
}

#about {
  height: 100vh;
  background: rgb(252, 209, 216);
}
#about .about-box {
  margin-top: 40px;
  max-width: 1140px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
#about .about-box .about-left {
  width: 50%;
  height: 300px;
  background: url("../img/photo_2022-11-11_16-18-45.jpg") no-repeat center top;
  background-size: contain;
}
#about .about-box .about-right {
  width: 50%;
  padding-left: 60px;
}
#about .about-box .about-right p {
  line-height: 25px;
  font-size: 18px;
  font-family: "Dancing Script", cursive;
  letter-spacing: 1px;
}/*# sourceMappingURL=style.css.map */